@import url(_reset.css);

body {
    padding: 0 1rem 0 1rem;
    font-family: "Inter", "Roboto", sans-serif;
}

.hidden {
    display: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}